.multi-select-cont .multi-select-input {
  border: 1px solid brown;
  border-radius: 5px;
  width: 300px;
  min-height: 40px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.multi-select-cont .multi-select-input input {
  display: block;
  width: fit-content;
  height: 100%;
  font-size: 14px;
  flex: 1;
}

.multi-select-cont ul {
  max-width: 300px;
  display: none;
  flex-direction: column;
  gap: 5px;
  background: #edecec;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #aaa9a9;
}

.multi-select-cont ul li {
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: #edecec;
  padding: 2px 10px;
  max-width: fit-content;
  margin-right: 4px;
}

.selected-option span:nth-of-type(2) {
  font-size: 12px;
  cursor: pointer;
}
