*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.input-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
}

.input-cont-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.input-cont button {
  background: #52a1f1;
  outline: none;
  border: navajowhite;
  border-radius: 5px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 15px;
}

.input-cont input {
  width: 100%;
  height: 30px;
  padding: 10px;
}

.cross {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cross::after,
.cross::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

.todo-list {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-txt {
  display: none;
  align-self: flex-start;
  color: crimson;
  font-size: 11px;
  margin-top: 10px;
}

.todo-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  justify-content: space-between;
}

.todo-item p {
  pointer-events: none;
}

.todo-item input {
  border: navajowhite;
  outline: none;
  background: #e2e7e9;
  padding: 0 10px;
}
